# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp
*.DS_Store
# Precompiled Headers
*.gch
*.pch
file.txt
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
tags
# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

Doxyfile
Docs

Release_lib.sh

# Executables
*.exe
*.out
*.app
